body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F1EFEC;
  color: #916E4F;
  font-size: 1.2rem;
  min-width: 600px;
}

h1 {
  font-family: 'Espoir', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 30px; */
  /* max-width: 970px;
  min-width: 380px; */
  /* width: 90%; */

}

a {
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: white;
  height: 80px;
  /* padding-right: 20px; */
}

ol {
  display: flex;
  align-items: center;
  justify-content: end;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  font-size: 1.5rem;
}

.form_send {
  background-color: #9B7E64;
  border-radius: 5px;
  padding: 7px;
  color: white;
  font-weight: bold;
}

section {
  display: flex;
  align-items: center;
}

.actions {
  background-color: #9b7e64b4;
  display: flex;
  justify-content: space-around;
  /* padding: 0px 40px 0px 40px; */
  width: 100%;
}

h3 {
  font-weight: 100;
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 20px;
  color: #916E4F;
  text-transform: lowercase;
}

.type {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 15px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 40px;
  height: 40vh;
}

.moto {
  font-family: "Lexend Peta", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.5;
  width: 1000px;
  padding: 20px;
  margin-left: 40px;
  color: #916E4F;
}

.logo_pic {
  width: 45%;
  /* min-width: 500px; */
  width: 600px;
  max-width: 300px;
  color: #916E4F;
  margin-left: 15%;
}

#agenda_sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.agenda_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 25px 60px;
  color: #916E4F;
  min-width: 150px;
  max-width: 300px;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  flex: 1 1 200px;
}

.agenda_pic {
  width: 90%;
  height: 150px;
  border-radius: 20px;
}

.agenda_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E3DCD6;
  width: 90%;
}

.agenda_desc {
  font-size: 1.7rem;
  text-align: center;
  width: 60%;
}

.agenda_detail {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  align-items: center;
}

.agenda_name {
  font-size: 2.5rem;
  font-weight: bold;
}

.about_us {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 247, 246);
  padding: 80px 10px;
  font-size: 2.5rem;
  margin-top: 50px;
}

.info_about_us {
  height: 100%;
  width: 90%;
  text-align: center;
}

.us_pic {
  width: 400px;
  margin: 20px;
  align-self: center;
  border-radius: 20px;
}

.text {
  font-size: 1.5rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #9B7E64;
  color: white;
  border-radius: 10px;
  padding-top: 50px;
  margin-bottom: 25px;
}

.form-control {
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  padding-left: 30px;
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  margin-top: 2.5px;
  padding-left: 30px;
  padding-top: 30px;
  width: 100%;
  min-height: 60%;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 100%;
}

.btn {
  background-color: #E3DCD6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #916E4F;
  border-radius: 5px;
  border: none;
  height: 60px;
  width: 70%;
  margin: 30px 0px 30px 0px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  nav {
    height: 60px;
    padding-right: 10px;
  }

  ul {
    font-size: 1.2rem;
    padding: 10px;
  }

  .form_send {
    padding: 5px;
    font-size: 1rem;
  }

  .logo {
    flex-direction: column;
    /* font-size: 50px; */
    height: 30%;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
  }

  .logo_pic {
    width: 70%;
    min-width: 300px;
    margin-left: 0;
  }

  .moto {
    font-size: 1.9rem;
    width: 100%;
    padding: 10px;
    margin: 20px 0px
  }

  .actions {
    flex-direction: column;
    /* padding: 20px; */
  }

  #agenda_sec {
    justify-content: center;
  }

  .agenda_card {
    padding: 20px;
    margin: 10px;
    max-width: 35%;
    height: 200px;
    /* min-height: 10%; */
    /* min-width: 230px; */
  }

  .agenda_pic {
    width: 90%;
    /* height: auto; */
  }

  .agenda_details {
    width: 90%;
  }

  .agenda_desc {
    font-size: 1.4rem;
    width: 90%;
  }

  .agenda_name {
    font-size: 2rem;
  }

  .about_us {
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }

  .info_about_us {
    width: 100%;
  }

  .us_pic {
    width: 60%;
    margin-top: 20px;
  }

  .form {
    width: 80%;
    /* padding: 40px; */
  }

  form {
    width: 80%;
  }

  .form-control,
  textarea {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
  }

  .btn {
    width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  nav {
    height: auto;
  }

  ul {
    font-size: 1rem;
    padding: 5px;
  }

  .form_send {
    padding: 3px;
    font-size: 0.9rem;
  }

  .logo {
    font-size: 30px;
  }
}
